@import url("./reset.css");
@import url("./../blocks/main.css");

@font-face {
  font-family: 'textAccent';
  src:
    url('./../../fonts/PressStart.woff2') format('woff2'),
    url('./../../fonts/PressStart.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'textMain';
  src:
    url('./../../fonts/RussoOne.woff2') format('woff2'),
    url('./../../fonts/RussoOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'textAdditional';
  src:
    url('./../../fonts/PTSansCaption.woff2') format('woff2'),
    url('./../../fonts/PTSansCaption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
